    .btn-circle {
      width: 1.875rem;
      height: 1.875rem;
      text-align: center;
      padding: 0.375rem 0;
      font-size: 0.75rem;
      line-height: 1.428571429;
      border-radius: 0.938rem;
    }
    .btn-circle.btn-lg {
      width: 3.125rem;
      height: 3.125rem;
      padding: 0.625rem 1rem;
      font-size: 1.125rem;
      line-height: 1.33;
      border-radius: 1.563rem;
    }